body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 1% 2%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.webcam-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.detections {
  margin-top: 20px;
  text-align: left;
}

.detection {
  margin: 10px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.detection-info p {
  margin: 5px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  input[type='file'] {
    width: 100%;
  }

  .webcam-container {
    width: 100%;
    height: 250px;
  }

  .detections {
    width: 100%;
    margin-top: 10px;
  }

  .detection-info {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 15px;
    font-size: 14px;
  }

  .webcam-container {
    height: 200px;
  }

  .modal-content {
    width: 100%;
    padding: 15px;
  }
}
